.root{
    -fx-background-color: #d3f2e6
}
#open > .label{
    -fx-graphic: url("/img/openicon.png");
}
#open .accelerator-text{
    -fx-graphic: none;
}
#about > .label{
    -fx-graphic: url("/img/abouticon.png");
}
#about .accelerator-text{
    -fx-graphic: none;
}
#_new > .label{
    -fx-graphic: url("/img/newicon.png");
}
#_new .accelerator-text{
    -fx-graphic: none;
}
#delete > .label{
    -fx-graphic: url("/img/deleteicon.png");
}
#delete .accelerator-text{
    -fx-graphic: none;
}
#tbBack{
    -fx-graphic: url("/img/back_button.png");
    -fx-background-color: transparent;
    -fx-border-width: 0;
}
#tbBack: pressed{
    -fx-background-color: yellow;
}
#tbBack: hover{
    -fx-background-color: gray;
}
#logout{
    -fx-background-color: #3b7a47;
}
#search{
    -fx-background-color: #f9d832;
}
#addbutton{
    -fx-background-color: #f9d832;
}
